/* Main style sheet */

body {
    width: 100%;
    margin: 0 auto;
    background-color: #FEF7EC;
    background-image: url(../images/bg.png);
    background-repeat: repeat;
    font-family: calibri;
}
.container {
    width: 980px;
    margin: 0 auto;
}

/* Header */

#header {
    background-image: url('../images/intro-logo.png');
    background-repeat: no-repeat;
    background-position: 520px 0px;
}
#header .menu {
/*    position: relative;
    z-index: 99;
    margin-top: -40px;*/
    text-align: center;
}
#header .menu ul {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
#header .menu ul li {
    float: left;
    margin: 0 6px;
}
/*#header .intro-img {
    background-repeat: no-repeat;
    height: 284px;
    width: 353px;
    position: relative;
    right: 0;
    top: 0;
    z-index: -1;
}*/
#header .social-icons {
    margin: 185px 10px 4px;
}
#header .social-icons a {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 36px;
}
#header .social-icons .social-fb {
    background-image: url('../images/social-fb.png');
}
#header .social-icons .social-tw {
    background-image: url('../images/social-tw.png');
}
#header .social-icons .social-yt {
    background-image: url('../images/social-yt.png');
}
#header .social-icons .social-pp {
    background-image: url('../images/social-pp.png');
}
#header .slogan span {
    color: #442417;
    font-size: 18px;
    margin: 12px 2px 0;
    display: inline-block;
}

a.btn {
    display: block;
    color: #fff;
    background-color: #F2561D;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px 0px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    line-height: 3;
    height: 55px;
    width: 128px;
}
li.active a.btn {
    background-color: #049DBF;
}
.content {
/*    margin: 20px 0px;*/
}
.book_trial {
    background-color: #049DBF;
}


/*  FOOTER  */

#footer {
    background-color: #049DBF;
    width: 100%;
    margin: 0 auto;
}
#footer .footer {
    width: 980px;
    margin: 0px auto;
    margin-top: 20px;
}
#footer .inner-footer {
    width: 725px;
    margin: 32px auto;
}
#footer .inner-footer ul {
    padding: 12px 0px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;    
}
#footer .inner-footer ul li {
    display: inline-block;
    margin-right: 5px;
}
#footer .inner-footer ul li a {
    color: #02487E;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 8px;
}
#footer .inner-footer ul li a:hover {
    color: #F9AD3B;
}
#footer a.active {
    color: #FFF !important;
}
#footer p.copyright {
    color: #FFF;
    font-style: italic;
    font-size: 17px;
    margin: 58px 10px 50px;
}

/* Blocks */

.block-rectangle {
    height: 185px;
    width: 380px;
    text-align: center;
}
.block-square {
    height: 185px;
    width: 184px;
    text-align: center;
}
.block-video {
    height: 382px;
    width: 585px;
    text-align: center;
}
.block-advt {
    height: 578px;
    width: 380px;
    text-align: center;
}
.block-advt2 {
    height: 578px;
    width: 192px;
    text-align: center;
}
.block-bottom {
    height: 100px;
    width: 980px;
    background: #F7D1A2;
    float: left;
}
.block-left {
    width: 380px;
}
.block-right {
    width: 585px;
}

/* Distance Classes */

.top-margin {
    margin-top: 12px;
}
.left-margin {
    margin-left: 12px;
}
.right-margin {
    margin-right: 12px;
}
.bottom-margin {
    margin-bottom: 12px;
}

/* Common */

.clear {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
.half {
    width: 480px;
}
.width-400 {
    width: 400px;
}
.width-360 {
    width: 360px;
}
.width-280 {
    width: 280px;
}
.width-185 {
    width: 185px;
}
span.imp {
    color: red;
}
.align-center {
    text-align: center;
}
.light-blue {
    color: #024873;
}
/* Contact Form */

.blue-block {
    height: 40px;
    width: 560px;
    background-color: #47749B;
}
.light-blue-block {
    height: 40px;
    width: 560px;
    background-color: #049DBF;
}
.contact-form {
    width: 530px;
    background-color: #F5F5F5;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px 0px;
    padding: 15px;
}
.contact-form h1 {
    font-weight: normal;
    padding: 10px 0;
    margin: 0 0 10px;
    border-bottom: 1px dotted #000;
}
.control-group {
    padding: 5px 0;
}
.control-group label {
    padding: 0px 2px;
    width: 190px;
    float: left;
    vertical-align: top;
    font-weight: bold;
}
.control-group input[type="text"] {
    width: 280px;
}
.control-group input[type="submit"] {
    background-color: #47749B;
    border: 0;
    cursor: pointer;
    padding: 4px 10px;
    color: #FFF;
    font-weight: bold;
    border-radius: 3px;
}
.contact-note {
    width: 380px;
}
.contact-note span {
    display: block;
    font-size: 24px;
    color: #2F1209;
}

/* Payment */

.price-table {
    margin-bottom: 50px;
    float: left;
}
.btn-buy {
    margin: 10px;
}

/* Courses */

.courses-table {
    width: 750px;
    float: left;
    padding: 15px;
}
.courses-table h1 {
    color: #F26524;
    margin: 0;
    font-size: 45px;
    font-weight: normal;
}
.courses-table p {
    color: #2F1209;
    margin: 0;
    font-size: 23px;
}

/* Our Teachers */

.teachers-table {
    width: 790px;
    float: left;
}
.teachers-table .img-block {
    width: 250px;
}
.teachers-table .img-block img {
    width: 250px;
    height: 275px;
}
.teachers-table .img-block span {
    color: #F26524;
    font-size: 30px;
    margin-bottom: 25px;
}

.teacher-profile {
    margin: 82px 0;
}
.teacher-profile p {
    margin: 0;
    font-size: 23px;
    color: #2F1209;
}
.teacher-profile p a {
    color: #2F1209;
}
.teacher-profile .block-trial {
    width: 382px;
    height: 185px;
}
.profile-img, .profile-name {
    width: 185px;
    height: 185px;
    background-color: #BF491F;
}
.profile-name span {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    display: block;
    padding: 42px 0;
}

/* Blog */

.blog-table {
    background: #F7D1A2;
    width: 670px;
    padding: 10px;
    float: left;
}
.blog-table a.heading {
    display: block;
    color: #F26524;
    font-size: 40px;
    text-decoration: none;
}
.blog-table a.heading:hover {
    text-decoration: underline;
}
.blog-table span.date {
    display: block;
    color: #2F1209;
    font-size: 24px;
}
.blog-table p {
    padding: 0 5px;
    color: #2F1209;
    font-size: 18px;
}
.blog-table img {
    padding: 10px;
}